.Auth-form-container{
    display: none;
}

.active{
    top: 65px;
    max-width: 400px;
    max-height: 300px;
    display: flex;
    position: fixed;
    border: 2px solid black;
    background-color: #05c2bd;
    padding: 10px;
}