.post{
    padding: 30px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.post__title{
    padding: 10px 0px;
    font-size: 32px;
    font-weight: bold;
}
.post__meta{
    padding: 0px 0px 15px 0px;
    font-size: 12px;
    font-style: italic;
}
.post__content{
    flex: 1;
    padding: 10px 0px;
}
.commentList{
    margin: 10px;
}
.commentCard{
    background-color: #c9c9c9;
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.authorDateComment{
    
    font-size: 11px;
    display: flex;
}
.authorDateComment a{
    text-decoration: none;
    margin-right: 5px;
}
.deleteComment{
    font-size: 15px;
    order: 1;
    margin-left: auto;
    cursor: pointer;
}
.commentParentCard{
    margin: 5px;
    padding: 5px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
}
.commentCardText{
    font-size: 15px;
}
.answerButton{
    margin-left: auto;
}
.commentForm{
    width: 100%;
}
.commentForm button{
    max-width: 30%;
}

