.tagList{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

.tagList a{
    width: 100%;
    padding: 10px 30%;
   
}

.tagList a:nth-child(odd){
    background-color: gray;
}